.security-section-container{    
    text-align: center;
    margin-top: 4rem;
}
.security-form {
    margin: auto;
}

.security-form input {
    margin: 20px auto;
}

@media (min-width: 43.7em){
    .security-form{
        width: 400px;
    }
}